
.navbar{
    
   
    display: flex;
    position: fixed;
    top: 0%;
    background-color: white;
    width: 100%;
    
/
}
li{
display: inline;
margin-left: 50px;
margin
}
button{
    margin-left: 40px;
}
select{
    margin-left: 40px;
} 
#img6{
    height: 160px;
    width: 160px;
    display: flex;
    position: absolute;
    margin-top: -70px;
     position: fixed;
    
 }


 



.cont2{
    /* display: flex; */

    
}



.box{
    /* border: black 2px solid; */
    height: 220px;
    width: 495px;
    margin-top: 80px;
    margin-left: 80px;
}
.contaner{
    display: flex;
    color: rgb(51, 23, 116);
    font-family: 'Montserrat';
    margin-top: 30px;
  
}
.box2{
    margin-left: 20px;

}
h2{
    text-align: center;
}
h4{
    text-align: center;
    margin-top: 50px;
}
#pic2{
height: 300px;
width: 350px;
margin-left: 110px;
margin-top: 70px;
}
.box4{
    border: 2px solid white;
            box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    height: 310px;
    width: 255px;
    margin-top: 80px;
    margin-left: 80px;
}
#pic3{
   margin-left: 80px;
}
   .box6{
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    height: 310px;
    width: 255px;
    margin-top: 80px;
    margin-left: 80px;
}
#pic4{
   margin-left: 80px;
   }
  

.box10{
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    width: 100%;
    h2{
        text-align: left;
        font-size: 30px;
    }
    h4{
        text-align: left;
        font-size: 20px;
    }

}
.box11{
    text-align: center;

  
}


#id1{
    margin-top: 30px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    width: 300px;
    margin-top: 30px;
    margin-left: 100px;
}
#pic5{
    height: 250px;
width: 280px;
margin-left: 290px;
margin-top: 70px;
}
#pic6{
    height: 250px;
width: 280px;

margin-top: 70px;
}
#id2{
    margin-top: 30px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    width: 300px;
    margin-top: 30px;
    margin-left: 40px;
}
#pic7{
    height: 150px;
    width:275px;
    
    
}
.box12{
    border: 2px solid white;
    box-shadow: 5px 5px 5px 5px rgb(214, 200, 200);
    height: 310px;
    width: 275px;
    margin-top: 80px;
    margin-left: 100px;
}
.contaner1{
    margin-top: 50px;
    display: flex;
    background-color: rgb(235, 227, 118);
    /* margin-top: 30px; */
    height: auto;
}
.form{
   color:  rgb(51, 23, 116);;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; */
    height: 500px;
    width: auto;
    margin: auto;
    border: 2px solid white;
}
.myform{
    margin-left: 40px;
}
#pic8{
    height: 500px;
    background-color:rgb(247, 247, 216);
}
input{
    display: inline;
    margin: 8px 4px;
    font-size: 18px;
    
}  
.cont1{
    width: 350px;
}

.contaner3{
display: flex;
background-color: rgb(51, 23, 116);
margin-top: 0px;
p{
    color: aliceblue;
}
a{
    color: aliceblue;
}
h4{
    color: yellow;
}


}
.contaner4{
    display: flex;
background-color: rgb(51, 23, 116);
margin-top: 3px;
p{
    color: aliceblue;
}
a{
    color: aliceblue;
}
h4{
    color: yellow;
}


}
.marq{
    background-color: azure;
}
.buton3{
    display: flex;
    margin-left: -30px;
    
    
    button{
        height: 20px;
        width: auto;
        background-color: rgb(23, 23, 75);
     color: aliceblue;"
    }
   
    
}
    
   